body {
    text-align: center;
    font-family: 'Irish Grover', cursive;
    background-color: antiquewhite;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    flex-direction: column;
    margin-top: 10px;
}

.game-title {
    margin: 2px 2px;
    font-size: 60px;
    color: darkgoldenrod;
    text-shadow: 2px 1px lightslategray;
    font-variant-caps: all-petite-caps;
}

.cat-group {
    flex-direction: row;
}

.cat {
    margin: 30px 30px;
}

.cat:hover {
    cursor: pointer;
    transform: scale(1.25, 1.25);
}

.score {
    font-size: 36px;
    color: darkred;
}

@media only screen and (max-width: 450px) {
    .cat {
        max-width: 250px;
        height: auto;
    }
}

@media only screen and (min-width: 1050px) {
    .cat {
        min-width: 550px;
        height: auto;
    }
}