/* MAIN STYLES */

body {
    text-align: center;
    font-family: 'Irish Grover', cursive;
    background-color: antiquewhite;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

}

/* HEADER */

.header {
    margin-top: 10px;
}

.header-line {
    box-shadow: 1px 1px;
}

.game-title {
    margin: 2px 2px;
    font-size: 60px;
    color: darkslategray;
    font-variant-caps: all-petite-caps;
}

.score {
    font-size: 42px;
    color: darkred;
}

/* BUTTONS */

.my-buttons {
    margin-top: 20px;
}

button.add-cat {
    font-size: 32px;
    color: darkred;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px;
    border: none;
    margin: 5px 5px;
}

/* CATS */

.cat-group {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.show {
    width: 250px;
    height: 350px;
    margin: 5px 5px;
}

.cat {
    display: inline-flex;
    width: 100%;
    height: 50%;
    margin-top: 30px;
    border: 3px solid lightslategray;
}

.hide {
    display: none;
}

.cat:hover {
    cursor: pointer;
    transform: scale(1.25, 1.25) rotate(10deg);
}

#name {
    font-size: 24px;
    font-weight: bold;
}

#clicks {
    font-size: 24px;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    
    .game-title {
        font-size: 42px;
    }
}